.btn-class {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px 40px;
  border-radius: 4px;
  background-color: #346F2F;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.btn-class:hover {
  background-color: #0a1509;
}
.btn2 {
  max-width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 19%;
  padding: 20px 30px;
  border-radius: 4px;
  background-color: #865E22;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.btn2:hover {
  background-color: #0a1509;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 1680px) {
  html html {
    font-size: 12pt;
  }
}
@media screen and (max-width: 736px) {
  html html {
    font-size: 11pt;
  }
}
@media screen and (max-width: 360px) {
  html html {
    font-size: 10pt;
  }
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto;
}
h1 {
  font-family: Zhi Mang Xing;
  color: #CF9540;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: 400px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav a {
    align-self: center;
  }
}
nav a:hover {
  text-decoration: underline;
}
footer {
  background-color: #865E22;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
footer p {
  padding-top: 0.5%;
  margin-left: 2%;
  font-size: 1.6rem;
  justify-content: center;
}
footer .footerNav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 2%;
}
@media (max-width: 500px) {
  footer .footerNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: none;
    margin: none;
  }
  footer .footerNav a {
    text-align: center;
    margin-bottom: 2%;
  }
}
footer a {
  width: 100%;
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  padding-left: 2%;
}
.home {
  width: 100%;
}
.home .titleBar {
  height: 30vh;
  width: 100%;
  background-image: url(/img/clipboard.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home .titleBar {
    display: none;
  }
}
.home .titleBar h2 {
  font-size: 4rem;
  font-style: bold;
  background: rgba(255, 255, 255, 0.5);
}
.home h1 {
  font-size: 4vh;
}
@media (max-width: 500px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home img {
    align-content: center;
  }
}
.home header {
  width: 100%;
  height: 50px;
  background-color: #45933E;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .home header {
    display: inline-flex;
    flex-direction: column;
  }
}
.home header .headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
}
@media (max-width: 500px) {
  .home header .headerNav {
    justify-content: space-around;
  }
}
.home header .headerNav .navLinks {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 30%;
}
@media only screen and (max-width: 800px) {
  .home header .headerNav .navLinks {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .home header .headerNav .navLinks {
    display: none;
  }
}
.home .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  border-top: 1px dashed #857A7A;
  align-content: center;
  padding-bottom: 2vh;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    align-items: center;
    padding: none;
  }
}
@media only screen and (max-width: 800px) {
  .home .content-section {
    flex-wrap: nowrap;
  }
}
.home .content-section .text-content {
  width: 50%;
  margin-top: 5%;
  background-color: #CECACA;
  text-align: center;
  padding-top: 3%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    margin: none;
  }
}
.home .content-section .img-content img {
  padding-top: 10%;
  border-radius: 5px;
}
.home .inverse-content {
  padding-bottom: 2vh;
  border-top: 1px dashed #857A7A;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  .home .inverse-content {
    flex-wrap: nowrap;
  }
}
.home .content-pick {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #857A7A;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30vh;
  margin-bottom: 30px;
  text-align: center;
}
.home .content-pick .destination .btn {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 20px 40px;
  border-radius: 4px;
  background-color: #346F2F;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.home .content-pick .destination .btn:hover {
  background-color: #0a1509;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    align-self: center;
    align-items: center;
    width: 80%;
  }
}
